.main {
  -fx-padding: 10px;
}

.main__button {
  -fx-background-color: transparent;
}

.main__button-mode:focused {
  -fx-border-width: 0px;
  -fx-background-color: rgb(224, 224, 224);
  -fx-background-radius: 24px;
}
